<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		</head>
		<body>


			{% for label, messages in app.flashes %}
				<div class="container mt-2">
					<div class="alert alert-{{ label }}">
						{% for message in messages %}
							<p>{{ message | raw }}</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}


			{% block body %}{% endblock %}

			<script src="/js/jquery.min.js"></script>
			<script src="/js/popper.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/login.js"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>

