{% extends 'account/base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

 
{% block body %}



<!--Intro Section-->
	<section class="view intro-2">

		<div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
			<div class="container">

				<div class="row">

					<div style="color:white;" class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
						
						<!--Form with header-->
						<div class="cardlogin wow fadeIn" data-wow-delay="0.3s">
							<div
								class="card-body">

								<!--Header-->
								<div class="form-header purple-gradient text-light">
									<h3>
										<i class="fas fa-user mt-2 mb-2 text-light"></i>
										Mot de passe oublié:</h3>
								</div>

								<!--Body-->
								<p style="color:white;font-weight:bold;font-size:17px;">Pour réinitialiser votre mot de passe, veuillez entrer votre adresse e-mail ci-dessous.</p>
                {{ form(emailForm) }}
							</div>
						</div>
						<!--/Form with header-->

					</div>
				</div>
			</div>
		</div>
	</section>

</header>



{% endblock %}