{% extends 'base.html.twig' %}

{% block body %}
<div>
	<div class="container mt-3">
		<div class="row ">
		<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur le site de l'Uspeg</h1>
  
  <hr class="my-4">
  <h3 class= "text-center">Choisissez votre catégorie</h3>
</div>
<h1></h1>
			{% for c in catadherent %}
				<div class="col-mb mr-2">
					<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

						<div class="card-body">
							<a href="{{ path('category_adherent', {'id': c.id}) }}"><h2 class="card-title p-4">{{c.title}}</h2></a>

						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>


	



{% endblock %}

