{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-3">
		<div class="row ">

			{% for c in catadherent %}
				<div class="col-mb mr-2">
					<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

						<div class="card-body">
							<a href="{{ path('category_adherent', {'id': c.id}) }}"><h2 class="card-title p-4">{{c.title}}</h2></a>

						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>
{% endblock %}

