<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Pack Gardien de But
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pack Gardien de But</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
							<thead >
								<tr>
									<th style="font-size:20px;!important">#</th>
									<th style="font-size:20px;!important">Equipement</th>


								</tr>
							</thead>
							<tbody class="text-center" style="font-size:17px;!important">
								
									<tr>
										<th scope="row">1</th>
										<td>
										
												VESTE A CAPUCHE SUPERNOVA 2</td>
										</td>
									</tr>
								
									<tr>
										<th scope="row">2</th>
										<td>
										
												PANTALON SUPERNOVA</td>
										</td>
									</tr>
								
								
									<tr>
										<th scope="row">3</th>
										<td>
										
												SET ZAMORA 5</td>
										</td>
									</tr>
							
									<tr>
										<th scope="row">4</th>
										<td>
										
												SAC A DOS ESTADIO</td>
										</td>
									</tr>
                                    </tbody>
						</tr>
					</tbody>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
        
      </div>
    </div>
  </div>
</div>









