/******************Login***************/

html,
        body,
        header,
        .view {
          height: 100vh;
        }


        @media (max-width: 740px) {
          html,
          body,
          header,
          .view {
            height: 815px;
          }
        }

        @media (min-width: 800px) and (max-width: 850px) {
          html,
          body,
          header,
          .view  {
            height: 650px;
          }
        }

        .intro-2 {
            background: url("/image/login/grass.jpg")no-repeat center center;
            background-size: cover;
        }
        
      

        .cardlogin {
            background-color:rgba(44, 62, 80, 0.5);
            margin-top: 30px;
        
        }
        .md-form label {
            color: #fff;
        }
        h6 {
            line-height: 1.7;
        }
        

        

        .md-form input[type=text]:focus:not([readonly]),
        .md-form input[type=password]:focus:not([readonly]) {
            border-bottom: 1px solid rgb(7, 7, 7);
            box-shadow: 0 1px 0 0 rgb(12, 12, 12);
        }
        .md-form input[type=text]:focus:not([readonly])+label,
        .md-form input[type=password]:focus:not([readonly])+label {
            color: rgb(10, 10, 10);
        }

        .md-form .form-control {
            color: rgb(7, 6, 6);
        }
/*********************************/
        /* Page produit*/
        .cardlogin {
          border: 0;
        }
        
        .card-body {
          padding: .5rem 5;
          font-size: 14px;
        }
        
        .card-title small {
          font-size: 14px;
          font-weight: 200;
        }
        
        .card-text del {
          font-weight: 200;
        }
        
        .card-img-overlay button i {
          font-weight: normal;
        }
        
        .btn-light:not(:disabled):not(.disabled).active,
        .btn-light:not(:disabled):not(.disabled):active,
        .show>.btn-light.dropdown-toggle {
          background-color: red;
          color: white;
          content: "";
        }

        /*
** Style Simple Ecommerce Theme for Bootstrap 4 mono produit
*/
.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.category_block li:hover {
  background-color: #007bff;
}
.category_block li:hover a {
  color: #ffffff;
}
.category_block li a {
  color: #343a40;
}
.add_to_cart_block .price {
  color: rgb(44,62,80);
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}

/*categorie produit*/
.boxe
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.carde
{
    margin-top: 80px;
    height: 300px;
    transition: 0.5s;
}
.carde:hover
{
    border: 1px solid red;
    border-radius: 30px;
}
.carde .cardImg
{
    height: 150px;
    width: 90%;
    position: relative;
    top: -15px;
    left: 5%;
}
.carde .cardImg img
{
    width: 100%;
    height: 100%;
}

.carde .info
{
    text-align: center;
}
.carde .info h3
{
    color: rgb(70, 66, 66);
}
.carde .info p
{
    color: rgb(41, 201, 49);
}

.ligne
{
    display: flex;
}

/**********liste de produits*******************/
.cardproduct
{
  margin-top: 80px;
  height: 300px;
  transition: 0.5s;
}
/**********header*********************/
        
.header {
  position: relative;
  width: 100vw;	
  height: 300px;	
}
.header .center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}
.header .left {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}
.header .right {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {

.header .center {
  width: 50%;
}
.header .left {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 40%;
  height: 60%;
  transform:translate(0, 0);
  padding: 1rem;
}
.header .right {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 40%;
  height: 60%;
  transform:translate(0, 0);
  padding: 1rem;
}

}



/* =======================================
 header#4
========================================*/
#header4 {
	background: #355c7d;  
  background:
    linear-gradient(
      rgba(53, 92, 125, 0.8), /* #355c7d */
      rgba(108, 91, 123, 0.8), /* #6c5b7b */
      rgba(10, 10, 10, 0.8) /* #c06c7b */
    ),
    url('/image/category_adherent/equipements.png') no-repeat left top;
  background-size: cover;  
  z-index: 0; /* bottom layout */
 
  box-shadow: 2px 2px 12px #555;
}
#header4 .caption {
	z-index: 5; 
  text-align: center;
  color: #fff;

}
#header4 .caption .title {
	margin-bottom: 1.5rem;
}
#header4 .caption .text {
	margin-bottom: 1.5rem;
}
#header4 .caption .action {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 15%;
  width: 70%;
}

@media (min-width: 992px) {
#header4 .caption .action {
  margin-left: 10%;
  width: 80%;
}
}
/****card home*****/
@import url(https://fonts.googleapis.com/css?family=Open+sans:700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1560 {
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  margin: 8px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: none !important;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1560:before {
  content: '';
  background-color: #000000;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: -1;
}

.snip1560 * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1560 img {
  max-width: 100%;
  vertical-align: top;
  background-image: linear-gradient(#000000, #ffffff);
}

.snip1560 figcaption,
.snip1560 .link {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.snip1560 h2,
.snip1560 h3,
.snip1560 h4 {
  margin: 0px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
}

.snip1560 h2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1560 h2 span {
  color: #e8b563;
}

.snip1560 h3 {
  font-size: 1.3em;
  bottom: 0;
  font-weight: 700;
  letter-spacing: 2px;
}

.snip1560 h4 {
  top: 0;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0.9;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1560:hover img,
.snip1560.hover img {
  opacity: 0.35;
}

/********erreur404**************/
#notfound {
  position: relative;
  height: 100vh;
  background: #f6f6f6;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 110px 40px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
}

.notfound .notfound-404 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
}

.notfound .notfound-404 h1>span {
  color: #00b7ff;
}

.notfound h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #151515;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound .notfound-search {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: auto;
}

.notfound .notfound-search>input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 50px;
  padding: 3px 65px 3px 30px;
  color: #151515;
  font-size: 16px;
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search>input:focus {
  border-color: #00b7ff;
}

.notfound .notfound-search>button {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.notfound .notfound-search>button>span {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: -3px;
}

.notfound .notfound-search>button>span:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  border: 4px solid #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-search>button>span:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 10px;
  left: 7px;
  top: 17px;
  border-radius: 2px;
  background: #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search>button:hover>span:after {
  border-color: #00b7ff;
}

.notfound .notfound-search>button:hover>span:before {
  background-color: #00b7ff;
}

@media only screen and (max-width: 767px) {
  .notfound h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 141px;
  }
}

/*************titre**************/
@media only screen and (max-width: 767px) {
  .titre  {
    font-size: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .titre {
    font-size: 35px;
  }
}