{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}

	{% set name = "Tous les articles" %}
	{% include "header_title.html.twig" %}

	<div class="container">


		{% include "navbar_cat_prod.html.twig" %}
		<div class="container">
			<div class="row my-3">
				{% for produit in produit %}

					{% include 'admin/produit.html.twig' %}
				{% endfor %}

			</div>
		</div>
		


	{% endblock %}

