{% extends 'base.html.twig' %}

{% block title %}Modification de la cotisation
	
{% endblock %}

{% block body %}
{% set name = 'Modification de la cotisation' %}
{% include "header_title.html.twig" %}
	<div class="container">
		


		{{ form_start(form,{ attr: { novalidate: 'novalidate' } }) }}

		{{ form_widget(form) }}

		<button class="btn btn-primary" type="submit">
			<i class="fas fa-check"></i>
			Enregistrer les modifications
		</button>

		{{ form_end(form) }}

<div class="mb-2"><button class="btn btn-outline-primary mt-3"  value="Précédent" onclick="history.go(-1)">Précédent</button><div>
	</div>

</div>{% endblock %}


