{% extends 'base.html.twig' %}

{% block title %}Modification de la cotisation
	
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="my-5">Modification de la cotisation
		</h1>


		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button class="btn btn-primary" type="submit">
			<i class="fas fa-check"></i>
			Enregistrer les modifications
		</button>

		{{ form_end(form) }}

<div class="mb-2"><button class="btn btn-outline-primary mt-3"  value="Précédent" onclick="history.go(-1)">Précédent</button><div>
	</div>

</div>{% endblock %}


