{% extends 'base.html.twig' %}

{% block title %}Recherche chèques
{% endblock %}

{% block body %}
{% set name = 'Recherche de Chèques' %}
{% include "header_title.html.twig" %}
<div class="jumbotron">
	<div class="container mt-3">
    {% include 'list_adherent_partials/searchchequenum.html.twig' %}

    
    
    
    </div>

    </div>
    <div class="jumbotron">
	<div class="container mt-3">
    

    {% include 'list_adherent_partials/searchchequename.html.twig' %}
    
    
    </div>

    </div>



{% endblock %}