{% extends 'base.html.twig' %}

{% block title %}
	{{categoryproduit.title}}
{% endblock %}

{% block body %}

{% set name = categoryproduit.title  %}
	{% include "header_title.html.twig" %}
	
	<div class="container">
	{% include "navbar_cat_prod.html.twig" %}


	</div>
<div class="container">
<div class="row">
<div class="row my-3">
	{% for produit in produit %}
		{% if (produit.categoryproduit.id is same as(categoryproduit.id)) %}


			{% include 'produit.html.twig' %}


		{% endif %}
	{% endfor %}
	</div>
</div>
	</div>



{% endblock %}

