{% extends 'base.html.twig' %}

{% block title %}

	{% form_theme form _self %}
{% endblock %}

{% block body %}
	{% set name = 'Nouvel Adhérent' %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">

		{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}


		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary my-3 ">Créer un nouvel adhérent</button>
		{{ form_end(form) }}
	</div>
{% endblock %}


