{% extends 'base.html.twig' %}

{% block title %}

	{% form_theme form _self %}
{% endblock %}


{% block body %}
{% set name = 'Créer une nouvelle équipe ' %}
{% include "header_title.html.twig" %}
	<div class="container mt-3">
		<h1>Nouvelle Equipe</h1>
		{{ form_start(form) }}


		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Créer une nouvelle équipe</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
