{% extends 'base.html.twig' %}

{% block title %}

	{% form_theme form _self %}
{% endblock %}

{% block body %}

{% set name = "Nouveau produit" 
 %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">
		
		


		{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Créer un nouveau pack</button>
		{{ form_end(form) }}
	</div>
{% endblock %}





