<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		 {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include 'navbar.html.twig' %}


			

			{% block body %}{% endblock %}

			<script src="/js/jquery.min.js"></script>
			<script src="/js/popper.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/login.js"></script>
			<script src="/js/file.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

			{% block javascripts %}{% endblock %}
		</body>
		<div class="container my-3"><button class="btn btn-outline-primary mt-3" value="Précédent" onclick="history.go(-1)">Précédent</button></div>
	</html>
