<!--Footer-->
<footer class="page-footer text-center font-small bg-primary container-fluid">

  <div class="rgba-stylish-strong">
  

    <!--Copyright-->
    <div class="footer-copyright py-3 text-white">
      © 2022 Copyright:
      <a href="#" target="_blank"> Uspeg.com </a>
    </div>
    <!--/.Copyright-->

  </div>

</footer>
<!--Footer-->