{% extends 'base.html.twig' %}

{% block title %}Articles à commander
{% endblock %}

{% block body %}
{% set name = "Articles à commnander" %}
	{% include "header_title.html.twig" %}


{% for c in commandes %}

   {{c}}</br>
     
    {% endfor %}
		

	

				

	
	        

					


	</div>



{% endblock %}


