{% extends 'base.html.twig' %}

{% block title %}Articles à commander
{% endblock %}

{% block body %}
	{% set name = "Articles à commander" %}
	{% include "header_title.html.twig" %}

	<div class="container">

		<div class="container mt3 overflow-auto table-wrapper-scroll-y-y my-custom-scrollbar-adherent">
			<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

			<thead>
				<tr>

					<th class="text-center lead">Articles manquants</th>


					<th>
						<a href="{{path('commande_en_cours')}}">Imprimer
							<i class="fas fa-print fa-lg"></i>
						</a>
					</th>
				</tr>
			</thead>
			{% set newArray = [] %}

			{% for c in commandes %}
				<tbody>
					{% if c not in newArray %}
						<td class="text-center lead">
							{{c}}</td>
					
					{% set newArray = newArray|merge([c]) %}
				{% endif %}
</tbody>
		{% endfor %}

			

	</table>


</div></div>{% endblock %}

