{% extends 'base.html.twig' %}

{% block title %}Articles à commander
{% endblock %}

{% block body %}
	{% set name = "Articles à commander" %}
	{% include "header_title.html.twig" %}

	<div class="container">

		<table class="table table-hover">

			<thead>
				<tr>

					<th class="text-center lead">Articles manquants</th>


					<th>
						<a href="{{path('commande_en_cours')}}">Imprimer
							<i class="fas fa-print fa-lg"></i>
						</a>
					</th>
				</tr>
			</thead>
			{% set newArray = [] %}

			{% for c in commandes %}
				<tbody>
					{% if c not in newArray %}
						<td class="text-center lead">
							{{c}}</td>
					</br>
					{% set newArray = newArray|merge([c]) %}
				{% endif %}

			</tbody>
		{% endfor %}


	</table>


</div>{% endblock %}

