{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur la Boutique
{% endblock %}

{% block body %}

	<div class="container mt-3">


		<div class="row ">

			{% for categories in category %}

				<div class="col-mb mr-2">
					<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

						<div class="card-body">


							<a href="{{ path('category_produit', {'id': categories.id}) }}">
								<h2 class="card-title p-4">
									{{categories.title}}</h2>
							</a>

						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>

	
	


</div>


{% endblock %}

