{% extends 'base.html.twig' %}

{% block title %}

	{% form_theme form _self %}
{% endblock %}

{% block body %}
	{% set name = 'Modification de la catégorie ' ~ categoryadherent.title %}
	{% include "header_title.html.twig" %}
	<div class="container mt-3">

		{{ form_start(form) }}


		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Modifier la catégorie</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
