{% if ad.commandes is not empty %}
        {% for a in ad.commandes|reverse(true)|slice(0, 10) %}


            {% set dateFrom = date(dateCommandes.dateFrom).format('U') %}
            {% set dateTo = date(dateCommandes.dateTo).format('U') %}
            {% if date(a.dateattribution).format('U') > dateFrom  %}
                {% if a.datecommande != null and a.dateattribution == null and ad.essayage != null and ad.essayage.essaie > 0 %}

                    <div style="display: inline-block;border:none;color:orange;">
                        <i class="fas fa-shopping-bag "></i>
                    </div>

                    


                {% elseif a.datecommande != null and a.dateattribution == null and ad.essayage != null and ad.essayage.essaie == 1 %}

                    <div style="display: inline-block;border:none;color:orange;">
                        <i class="fas fa-shopping-bag "></i>
                    </div>

                    {% elseif a.datecommande == null and a.dateattribution != null and ad.essayage != null and ad.essayage.essaie == 1 %}

                    <div style="display: inline-block;border:none;color:green;">
                        <i class="fas fa-shopping-bag "></i>
                    </div>

                    {% elseif a.datecommande != null and a.dateattribution != null and ad.essayage != null and ad.essayage.essaie == 1 %}

                    <div style="display: inline-block;border:none;color:green;">
                        <i class="fas fa-shopping-bag "></i>
                    </div>
                    
                    
                    {% endif %}

            
            {% endif %}


        {% endfor %}


    {% else %}
    <div style="display: inline-block;border:none;color:red;">
                        <i class="fas fa-shopping-bag "></i>
                    </div>
    {% endif %}